.switch-btn {
    height: 30px;
    width: 65px;
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #eaeaea;
    border: 1px solid gray;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.switch-btn .bg {
    width: 30px;
    height: 30px;
    background-color: skyblue;
    transition: all 0.7s;
    border-radius: 50%;
    position: absolute;
    top: 0;
    z-index: 1;
    box-shadow: 1px 1px 2px black;
}

.switch-btn .full-bg {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    transition: all 0.7s;
}

.switch-btn .full-model1 {
    width: 100%;
}

.switch-btn .full-model2 {
    width: 0%;
}

.switch-btn .model1 {
    left: 0;
}

.switch-btn .model2 {
    left: 35px;
}

.switch-btn>.btn {
    width: 30px;
    height: 30px;
    line-height: 25px;
    position: relative;
    z-index: 2;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* background-color: #f00; */
}